<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link rel="stylesheet" href="../../public/css/formulario2.css">
</head>
<body>
    <header>
        <h1>Gestión de Productos</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="createProduct.php">Añadir Producto</a></li>
                <li><a href="searchDetailProduct.php">Detalles del Producto</a></li>
                <li><a href="../../controllers/productsControllers/listProductsController.php">Listar Productos</a></li>
                <li><a href="searchProduct.php">Actualizar Producto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <video class="video" preload="auto" muted playsinline autoplay loop>
            <source type="video/mp4" src="../../public/assets/fondoHexagonal.mp4">
        </video>
        <section>
            <h2>Bienvenido a la sección de Productos</h2>
            <p>Esta área me permite gestionar todos los aspectos relacionados con los productos de mi tienda. Puedo crear nuevos productos, actualizar los existentes, ver detalles específicos o listar todos los productos disponibles.</p>
        </section>
    </main>
    <footer>
        <p>© 2024 NitaLink. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
